# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
FanweApp/Others/LiveVendors/AgoraSDK/AgoraRtcEngineKit.framework/AgoraRtcEngineKit
FanweApp/Others/LiveVendors/AgoraSDK/AgoraRtcEngineKit.framework/Headers/AgoraRtcEngineKit.h
FanweApp/Others/LiveVendors/AgoraSDK/AgoraRtcEngineKit.framework/Headers/IAgoraMediaEngine.h
FanweApp/Others/LiveVendors/AgoraSDK/AgoraRtcEngineKit.framework/Headers/IAgoraRtcEngine.h
FanweApp/Others/LiveVendors/IMSDK/QALSDK.framework/QALSDK
FanweApp/Others/LiveVendors/IMSDK/QALSDK.framework/Headers/QalSDKCallbackProtocol.h
FanweApp/Others/LiveVendors/IMSDK/QALSDK.framework/Headers/QalSDKProxy.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Info.plist
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/TXLiteAVSDK_Professional
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/COSClient.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/COSTask.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLiveBase.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLivePlayConfig.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLivePlayer.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLivePlayListener.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLivePush.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLivePushConfig.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLivePushListener.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLiveRecordListener.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLiveRecordTypeDef.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLiveSDKEventDef.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXLiveSDKTypeDef.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCPartsManager.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCPublish.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCPublishListener.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCPublishTypeDef.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCRecord.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCRecordEventDef.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCRecordListener.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXUGCRecordTypeDef.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXVideoCustomProcessDelegate.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXVideoEditer.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXVideoEditerListener.h
FanweApp/Others/LiveVendors/TXRTMPSDK/TXLiteAVSDK_Professional.framework/Headers/TXVideoEditerTypeDef.h
libnama.a
