<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[em_1]</key>
	<string>face1.png</string>
	<key>[em_2]</key>
	<string>face2.png</string>
	<key>[em_3]</key>
	<string>face3.png</string>
	<key>[em_4]</key>
	<string>face4.png</string>
	<key>[em_5]</key>
	<string>face5.png</string>
	<key>[em_6]</key>
	<string>face6.png</string>
	<key>[em_7]</key>
	<string>face7.png</string>
	<key>[em_8]</key>
	<string>face8.png</string>
	<key>[em_9]</key>
	<string>face9.png</string>
	<key>[em_10]</key>
	<string>face10.png</string>
	<key>[em_11]</key>
	<string>face11.png</string>
	<key>[em_12]</key>
	<string>face12.png</string>
	<key>[em_13]</key>
	<string>face13.png</string>
	<key>[em_14]</key>
	<string>face14.png</string>
	<key>[em_15]</key>
	<string>face15.png</string>
	<key>[em_16]</key>
	<string>face16.png</string>
	<key>[em_17]</key>
	<string>face17.png</string>
	<key>[em_18]</key>
	<string>face18.png</string>
	<key>[em_19]</key>
	<string>face19.png</string>
	<key>[em_20]</key>
	<string>face20.png</string>
	<key>[em_21]</key>
	<string>face21.png</string>
	<key>[em_22]</key>
	<string>face22.png</string>
	<key>[em_23]</key>
	<string>face23.png</string>
	<key>[em_24]</key>
	<string>face24.png</string>
	<key>[em_25]</key>
	<string>face25.png</string>
	<key>[em_26]</key>
	<string>face26.png</string>
	<key>[em_27]</key>
	<string>face27.png</string>
	<key>[em_28]</key>
	<string>face28.png</string>
	<key>[em_29]</key>
	<string>face29.png</string>
	<key>[em_30]</key>
	<string>face30.png</string>
	<key>[em_31]</key>
	<string>face31.png</string>
	<key>[em_32]</key>
	<string>face32.png</string>
	<key>[em_33]</key>
	<string>face33.png</string>
	<key>[em_34]</key>
	<string>face34.png</string>
	<key>[em_35]</key>
	<string>face35.png</string>
	<key>[em_36]</key>
	<string>face36.png</string>
	<key>[em_37]</key>
	<string>face37.png</string>
	<key>[em_38]</key>
	<string>face38.png</string>
	<key>[em_39]</key>
	<string>face39.png</string>
	<key>[em_40]</key>
	<string>face40.png</string>
	<key>[em_41]</key>
	<string>face41.png</string>
	<key>[em_42]</key>
	<string>face42.png</string>
	<key>[em_43]</key>
	<string>face43.png</string>
	<key>[em_44]</key>
	<string>face44.png</string>
	<key>[em_45]</key>
	<string>face45.png</string>
	<key>[em_46]</key>
	<string>face46.png</string>
	<key>[em_47]</key>
	<string>face47.png</string>
	<key>[em_48]</key>
	<string>face48.png</string>
	<key>[em_49]</key>
	<string>face49.png</string>
	<key>[em_50]</key>
	<string>face50.png</string>
	<key>[em_51]</key>
	<string>face51.png</string>
	<key>[em_52]</key>
	<string>face52.png</string>
	<key>[em_53]</key>
	<string>face53.png</string>
	<key>[em_54]</key>
	<string>face54.png</string>
	<key>[em_55]</key>
	<string>face55.png</string>
	<key>[em_56]</key>
	<string>face56.png</string>
	<key>[em_57]</key>
	<string>face57.png</string>
	<key>[em_58]</key>
	<string>face58.png</string>
	<key>[em_59]</key>
	<string>face59.png</string>
	<key>[em_60]</key>
	<string>face60.png</string>
	<key>[em_61]</key>
	<string>face61.png</string>
	<key>[em_62]</key>
	<string>face62.png</string>
	<key>[em_63]</key>
	<string>face63.png</string>
	<key>[em_64]</key>
	<string>face64.png</string>
	<key>[em_65]</key>
	<string>face65.png</string>
	<key>[em_66]</key>
	<string>face66.png</string>
	<key>[em_67]</key>
	<string>face67.png</string>
	<key>[em_68]</key>
	<string>face68.png</string>
	<key>[em_69]</key>
	<string>face69.png</string>
	<key>[em_70]</key>
	<string>face70.png</string>
	<key>[em_71]</key>
	<string>face71.png</string>
	<key>[em_72]</key>
	<string>face72.png</string>
	<key>[em_73]</key>
	<string>face73.png</string>
	<key>[em_74]</key>
	<string>face74.png</string>
	<key>[em_75]</key>
	<string>face75.png</string>
    <key>[em_76]</key>
    <string>face76.png</string>
    <key>[em_77]</key>
    <string>face77.png</string>
    <key>[em_78]</key>
    <string>face78.png</string>
    <key>[em_79]</key>
    <string>face79.png</string>
    <key>[em_80]</key>
    <string>face80.png</string>
    <key>[em_81]</key>
    <string>face81.png</string>
    <key>[em_82]</key>
    <string>face82.png</string>
    <key>[em_83]</key>
    <string>face83.png</string>
    <key>[em_84]</key>
    <string>face84.png</string>
    <key>[em_85]</key>
    <string>face85.png</string>
    <key>[em_86]</key>
    <string>face86.png</string>
    <key>[em_87]</key>
    <string>face87.png</string>
    <key>[em_88]</key>
    <string>face88.png</string>
    <key>[em_89]</key>
    <string>face89.png</string>
    <key>[em_90]</key>
    <string>face90.png</string>
    <key>[em_91]</key>
    <string>face91.png</string>
    <key>[em_92]</key>
    <string>face92.png</string>
    <key>[em_93]</key>
    <string>face93.png</string>
    <key>[em_94]</key>
    <string>face94.png</string>
    <key>[em_95]</key>
    <string>face95.png</string>
    <key>[em_96]</key>
    <string>face96.png</string>
    <key>[em_97]</key>
    <string>face97.png</string>
    <key>[em_98]</key>
    <string>face98.png</string>
    <key>[em_99]</key>
    <string>face99.png</string>
    <key>[em_100]</key>
    <string>face100.png</string>
    <key>[em_101]</key>
    <string>face101.png</string>
    <key>[em_102]</key>
    <string>face102.png</string>
    <key>[em_103]</key>
    <string>face103.png</string>
    <key>[em_104]</key>
    <string>face104.png</string>
    <key>[em_105]</key>
    <string>face105.png</string>
    
</dict>
</plist>
